$light-gray: #f8f8f8;

// Font Sizes
h1 { font-size: 4.5rem; }
h2 { font-size: 4rem; }
h3 { font-size: 3.25rem;}
h4 { font-size: 2rem; }
h5 { font-size: 1.25rem; }
h6 { font-size: 1rem; }
p  { font-size: 0.75rem;}

.navbar {
    
    .navbar-brand {
        #brand {
            font-size: 2.5rem;
            font-weight: 600;

            #plus {
                font-size: 1.5rem;
                font-weight: bold;
                position: absolute;
            }
        }
    }

    .nav-link {
        font-weight: 500;
    }

    .btn-dark > span {
        display: flex;
        font-weight: 700;
        font-size: 0.75rem;
        margin: 0.6rem 1.6rem;
    }
}



#products-page {
    //background-color: $light-gray;
    padding: 11rem 0rem 6.5rem 0rem;

    .img-container {
        display: flex;
        justify-content: center;
        align-items: center;
        
        img {
            display: block;
            margin: auto;
            max-width: 100%;
            max-height: 90%;
        }
    }   
    .product-container {
        padding: 6rem 0rem;

        .product-info{
            margin: 0 3.7rem;
    
            hr {
                opacity: 1;
                margin: 0;
                margin: 0 -3.75rem;
            }
    
            h2 { margin: 1.8rem 0; }
    
            .product-subtitle {
                margin-bottom: 3.6rem;
                span {
                    font-size: 1rem;
                    vertical-align: middle;
                    margin-right: 4.2rem;
                }
            }
    
            p {
                font-weight: 500; 
                margin: 1rem 0rem;
            }
        }
    }
}

#form-partner {
    background-image: linear-gradient(to right top, #95ade5, #9dbae8, #a8c6ea, #b7d2eb, #c8dded, #cbdff0, #cfe0f2, #d2e2f5, #ced9f8, #d3cef7, #ddc2f1, #ebb4e4);
    padding: 2rem 2rem;

    #form-container {
        background-color: white;
        border-radius: 5rem;
        padding: 6rem 3rem;

        h4 { margin-bottom: 2rem;}

        #form-info {
            h6 {
                width: 70%;
                margin-bottom: 2rem;
            }
        }

    }
    
    footer {
        margin-top: 3rem;
        margin-bottom: 1rem;
    }

    .btn-dark > span {
        display: flex;
        font-weight: 700;
        font-size: 0.75rem;
        margin: 0.4rem 1.6rem;
    }
}