$light-gray: #f8f8f8;

// Font Sizes
h1 { font-size: 4.5rem; }
h2 { font-size: 4rem; }
h3 { font-size: 3.25rem;}
h4 { font-size: 2rem; }
h5 { font-size: 1.25rem; font-weight: 600; }
h6 { font-size: 1rem; }

// All h1 needs
h1 {
    margin-top: 12rem;
    margin-bottom: 6rem;
}

.navbar {
    
    .navbar-brand {
        #brand {
            font-size: 2.5rem;
            font-weight: 600;

            #plus {
                font-size: 1.5rem;
                font-weight: bold;
                position: absolute;
            }
        }
    }

    .nav-link {
        font-weight: 500;
    }

    .btn-dark > span {
        display: flex;
        font-weight: 700;
        font-size: 0.75rem;
        margin: 0.6rem 1.6rem;
    }
}

#partner-page {
    h1 > strong{
        display: inline-block;
    }

    h5 {
        font-weight: 400;
        margin-bottom: 2rem;
    }

    .partner-subtitle {
        font-weight: 600;
        margin-bottom: 1rem;
    }
    
    h6 {
        word-wrap: break-word;
        margin-bottom: 2rem;
    }

    #partner-info {
        margin: 6rem 0rem;
    }
}

#products-page {
    //background-color: $light-gray;
    padding-bottom: 4rem;
 
    .product-container {

        .col-md {
            padding: 4rem 1rem;
        }

        .product-info {
            margin: 0 4vw;
    
            hr {
                opacity: 1;
                margin: 0 -4vw;
            }
    
            h2 { margin: 1.8rem 0; }
    
            .product-subtitle {
                margin-bottom: 3.6rem;

                span {
                    display: inline-block;
                    font-size: 1rem;
                    vertical-align: middle;
                    margin-right: 4.2rem;
                }
            }
    
            p {
                font-weight: 500; 
                margin: 1rem 0rem;
            }
        }

        .img-container {
            display: flex;
            justify-content: center;
            align-items: center;
            
            img {
                display: block;
                margin: auto;
                max-width: 100%;
                max-height: 90%;
            }
        }  
    }
}

#form-partner {
    background-image: linear-gradient(to right top, #95ade5, #9dbae8, #a8c6ea, #b7d2eb, #c8dded, #cbdff0, #cfe0f2, #d2e2f5, #ced9f8, #d3cef7, #ddc2f1, #ebb4e4);
    padding: 2rem 2rem;

    #form-container {
        background-color: white;
        border-radius: 5rem;
        padding: 6rem 3rem;

        h4 { margin-bottom: 2rem;}

        #form-info {
            p {
                width: 70%;
                margin-bottom: 2rem;
                font-size: 0.875rem;
            }
        }

        #form-form {
            .form-label {
                font-size: 0.875rem;
                font-weight: 600;
            }

            .form-check-label {
                font-size: 0.875rem;
                font-weight: 400;
            }

            .tiny {
                font-size: 0.75rem;
                font-weight: 600;
                opacity: 0.4;
            }
        }

    }
    
    footer {
        margin-top: 3rem;
        margin-bottom: 1rem;
    }

    .btn-dark > span {
        display: flex;
        font-weight: 700;
        font-size: 0.75rem;
        margin: 0.4rem 1.6rem;
    }
}